@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
  overflow-x: hidden;
}

.max-w-7xl {
  max-width: 100vw !important;
  padding-left: 0 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}